@using DiscussionForum.Data.Enums;
@model Question

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form enctype="multipart/form-data" class="form" method="post" asp-action="Create">
    <h1 class="blue">Post Question</h1>
    <div class="input-block">
        <label class="form-label" asp-for="Title"></label>
        <input required class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="input-block">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" rows="8" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="input-block">
        <label class="form-label" asp-for="ImageFile">Image ( jpeg, jpg, png, jfif, or gif )</label>
        <input id="formFile" class="form-control" asp-for="ImageFile" />
        <span asp-validation-for="ImageFile"></span>
    </div>
    <div class="input-block">
        <label class="form-label" asp-for="Topic"></label>
        <select required class="form-select" asp-for="Topic" asp-items="@Html.GetEnumSelectList<Topic>()">
            <option>--select--</option>
        </select>
        <span asp-validation-for="Topic"></span>
    </div>
    <button type="submit" class="blue button">Post</button>
</form>
