@model Question

<div class="question-container">
    <h2 class="question-title">@Model.Title</h2>
    @if (Model.Image != null)
    {
        <img class="question-img" src="@Url.Content(Model.Image)" />
    }
    @if (Model.Description != null)
    {
        <p class="question-description">@Model.Description</p>
    }
</div>

@if (Model.Answers != null)
{
    foreach (var item in Model.Answers)
    {
        <div class="answer-container">
            <p>@item.Description</p>
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="answer-bottom-space"></div>
    }    
}
@if (User.Identity.IsAuthenticated)
{
    <div id="partial-block"></div>
}

@section Scripts{
    <script>
        $('#partial-block').load("/Answer/Create")
    </script>
}

