@using DiscussionForum.Data.Enums;
@model Question

<form enctype="multipart/form-data" class="form" method="post" asp-action="Edit">
    <h1 class="blue">Edit Question</h1>
    <div class="input-block">
        <label class="form-label" asp-for="Title"></label>
        <input required class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="input-block">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" rows="8" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="input-block">
        <label class="form-label" asp-for="ImageFile">Image ( jpeg, jpg, png, jfif, or gif )</label>
        <input id="formFile" class="form-control" asp-for="ImageFile" />
        <span asp-validation-for="ImageFile"class="text-danger"></span>
    </div>
    <div class="input-block">
        <label class="form-label" asp-for="Topic"></label>
        <select required class="form-select" asp-for="Topic" asp-items="@Html.GetEnumSelectList<Topic>()">
            <option>--select--</option>
        </select>
        <span asp-validation-for="Topic" class="text-danger"></span>
    </div>
    <button type="submit" class="blue button">Save</button>
</form>
