@model Answer

<form class="fixed-form" method="post" asp-action="Create">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
    <div class="answer-input-container">
        <input placeholder="Type an answer..." required class="answer-input" asp-for="Description"/>
        <span asp-validation-for="Description"></span>
    </div>
    <input type="hidden" value="@TempData["currentQuestionId"]" asp-for="QuestionId" />
    <button type="submit" class="white button answer-button">Post</button>
</form>
