@model IEnumerable<Answer>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Answer Index</h1>
@foreach (var item in Model)
{
    <hr/>
    <h2>@item.Description</h2>
}

