@using DiscussionForum.ViewModels;
@model LoginViewModel


<form class="form" method="post" asp-action="Login">
    <h1 class="blue">Log in to your account</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-block">
        <label class="form-label" asp-for="Email"></label>
        <input required class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="input-block">
        <label class="form-label" asp-for="Password"></label>
        <input required class="form-control" asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @if (TempData["Error"] != null)
    {
        <div style="text-align:center" class="alert-danger alert">
            <span>@TempData["Error"]</span>
        </div>
    }
    <button type="submit" class="blue button">Sign In</button>
</form>
